.signup-container {
  text-align: center;
  margin-top: 50px;
  min-height: 100vh;
}

.signup-container input {
  margin: 8px 0;
  padding: 8px;
  width: 250px;
}

.signup-container button {
  margin-top: 15px;
  padding: 10px 20px;
  cursor: pointer;
}
